@import url("https://fonts.googleapis.com/css2?family=Familjen+Grotesk:ital,wght@0,400..700;1,400..700&family=Hanken+Grotesk:ital,wght@0,100..900;1,100..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Hanken Grotesk", sans-serif;
  scroll-behavior: smooth;
}
a {
  text-decoration: inherit;
  color: inherit;
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.custom-gradient {
  @apply bg-white;
  background: linear-gradient(#fff, #fff) padding-box,
    linear-gradient(120deg, #d4d4d8, #f4f4f5, #d4d4d8) border-box;
}
