@import url("https://fonts.googleapis.com/css2?family=Familjen+Grotesk:ital,wght@0,400..700;1,400..700&family=Hanken+Grotesk:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Londrina+Outline&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Hanken Grotesk", sans-serif;
  scroll-behavior: smooth;
}
a {
  text-decoration: inherit;
  color: inherit;
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.custom-gradient {
  @apply bg-white;
  background: linear-gradient(#fff, #fff) padding-box,
    linear-gradient(120deg, #d4d4d8, #f4f4f5, #d4d4d8) border-box;
}
.bold {
  font-family: "Londrina Outline", sans-serif;
}

/* scrolller for logos */
.scroller[data-animated="true"] {
  overflow: hidden;
  -webkit-mask: linear-gradient(
    90deg,
    transparent,
    white 5%,
    white 95%,
    transparent
  );
  mask: linear-gradient(90deg, transparent, white 5%, white 95%, transparent);
}

.scroller[data-animated="true"] .scroller-inner {
  width: max-content;
  flex-wrap: nowrap;
  animation: scroll 70s linear infinite;
}

@keyframes scroll {
  to {
    transform: translate(-50%);
  }
}
.scroller:hover {
  .scroller-inner {
    animation-play-state: paused;
  }
}
